/* Background pattern from Toptal Subtle Patterns */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.galeria {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "f";
  grid-template-rows: auto auto 6%;
}

.omnie {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "f";
  grid-template-rows: auto auto 6%;
}

.oferta {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "f";
  grid-template-rows: auto auto 6%;
}

.glowna {
  height: 120vh;
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "d"
    "f";
  grid-template-rows: auto auto auto 6%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #eb6cab;
}

/*lista*/
ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.side {
  display: none;
  position: fixed;

  right: 0;
  width: 100vw;

  background-image: url(zdj/black_paper.jpg);
}

.link:hover {
  color: #eb6cab;
  cursor: pointer;
}

/*naglowek*/
header {
  background-image: url(zdj/galeria/1.jpeg);
  padding: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 200%;
  background-size: cover;
  text-align: center;
}

.line {
  height: 1px;
  background-color: #eb6cab;
  width: 600px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  margin-right: 20px;
}

/*pedicure opis*/
.opisus {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(zdj/redox_01.jpg);
  background-attachment: fixed;
}

.zdj1,
.zdj2 {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
}

.zdj1 {
  width: 300px;
  height: 200px;
  margin-left: 5%;
}

.text {
  margin-left: 2%;
  margin-right: 5%;
}

.zdj2 {
  width: 200px;
  height: 265px;
  margin-left: 2%;
  margin-right: 5%;
}

.text2 {
  margin-left: 5%;
  text-align: right;
}

/*cennik*/
.cennik {
  grid-area: b;
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  background-image: url(zdj/redox_01.jpg);
  background-attachment: fixed;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  gap: 20px;
}

.Cena {
  text-align: center;
}

.line-cen {
  height: 1px;
  background-color: #eb6cab;
  width: 400px;
  margin: 0 auto;
  display: none;
}

/*profil*/
.prof {
  width: 500px;
  height: 600px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);

  background-image: url(zdj/galeria/16.jpeg);

  background-size: cover;
  background-position: right;
}

.profil {
  grid-area: b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 20px;
  text-align: center;
  background-image: url(zdj/redox_01.jpg);
  background-attachment: fixed;
  font-size: 18px;
  padding: 20px 100px;
}

.intro h2 {
  font-size: 58px;
  margin: 0;
}

/*mapa i info*/
.mapa {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 700px));
  justify-items: center;
  align-items: center;
  justify-content: center;
  background-image: url(zdj/pink_rice.jpg);
  background-attachment: fixed;
  padding: 20px;
}

.map {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
}

.info {
  margin-left: 5%;
}

/*galeria*/
.galery {
  grid-area: b;
  background-image: url(zdj/redox_01.jpg);
  display: grid;
  gap: 50px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  padding: 50px;
  background-attachment: fixed;
}

.zdjg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
  position: static;
}

.zdjg:hover {
  opacity: 80%;
  cursor: pointer;
}

.bk {
  position: fixed;
  width: 100%;
  height: 120%;
  display: none;
  background: #000;
}

.back {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: none;
  background-size: contain;
  cursor: pointer;
}

.back:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "x";
  color: #fff;
  font-size: 30px;

  text-align: center;
}

/*stopka*/
footer {
  grid-area: f;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(zdj/black_paper.jpg);
  background-attachment: fixed;
  color: #fff;
}

/*responsywność*/
@media only screen and (min-width: 951px) and (max-width: 1560px) {
  .cena-wide {
    grid-column: span 2 / auto;
  }
}

@media only screen and (min-width: 950px) {
  .zdjg-tall {
    grid-row: span 2 / auto;
  }

  .zdjg-wide {
    grid-column: span 2 / auto;
  }
}

@media screen and (max-width: 950px) {
  .opisus {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(zdj/redox_01.webp);
    background-attachment: fixed;
  }

  body {
    font-size: 20px;
  }
  .text2 {
    margin-right: 2%;
  }

  .zdj1,
  .zdj2 {
    display: none;
  }

  .line-cen {
    display: block;
  }

  .side {
    background-image: url(zdj/black_paper.webp);
  }

  .opisus {
    background-image: url(zdj/redox_01.webp);
  }

  .cennik {
    background-image: url(zdj/redox_01.webp);
  }

  .profil {
    background-image: url(zdj/redox_01.webp);
  }

  .mapa {
    background-image: url(zdj/pink_rice.webp);
  }

  .galery {
    background-image: url(zdj/redox_01.webp);
  }

  footer {
    background-image: url(zdj/black_paper.webp);
  }
}
