html {
  scroll-behavior: smooth;
}
.icon {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
}
@supports (-webkit-hyphens: none) {
  .safari-shadow-fix {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  }
}

